body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size:1.5em;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #BDA193;
}
.title{
    text-align:center;
    font-family: 'Pacifico', cursive;
    color:#DAF4F1;
    font-size:1.5em;
    line-height:.3em;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}
img.centered{
    display:block;
    margin: 0 auto;
    padding:5px;
}
.container {
  display: table;
  width: 100%;
}
.getnew {
    padding: 12px;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
}
input{
    height:30px;
    width:130px;
    font-size:15px;
}
button{
    width: 100px;
    height: 35px;
    font-size: 15px;
    border: none;
    border-radius:2px;
}
button.pink{
   background-color: #FBC5C5;
}
button.blue{
   background-color: #DAF4F1;
}
.star-icon{
   width:10px;
   height:10px;
   padding-right:10px
}