<fa-app class="full-screen" id="app">


 <fa-header-footer-layout fa-options="{headerSize: 75, footerSize: 75}">

    
     <fa-surface fa-background-color="'#FBC5C5'"><p class="title">Sweet Quizzes</p></fa-surface>
  
    
      <fa-surface fa-background-color="'#9ECEBE'">
          <div class="getnew">
              
              <form>
                 <input type="text" name="quizId" placeholder="Quiz Id" ng-model="quiz.quizId">
                <button class="blue" ng-click="getNewQuiz(quiz)">Get Quiz</button>
                <button class="pink" ng-click="getReviewQuiz()"><img src="img/star.svg" class="star-icon"/>Review</button>              
              </form>
               
           </div>
          
               <div align="center">
                  {{quizTitle}}
              </div>
          
            <img style="float:left" src="img/happy.svg" ng-click="nextQuestion()"/>
            <img style="float:right" src="img/star.svg" ng-click="storeQuestion()"/> 
                    
      </fa-surface>
    
  </fa-header-footer-layout>

</fa-app>