<fa-app class="full-screen" id="app">


  <fa-header-footer-layout fa-options="{headerSize: 75, footerSize: 75}">

    <!-- header -->
    <fa-surface><p class="title">Sweet Quizzes</p></fa-surface>
  
    <!-- content -->
    <fa-surface fa-background-color="'#9ECEBE'"></fa-surface>
  
    <!-- footer -->
   <fa-grid-layout fa-options="gridLayoutOptions">	
        <fa-modifier>
           <fa-surface fa-background-color="'#FBC5C5'">
               <img class="centered" src="img/happy.svg" ng-click="getSelectedSet()"/>
           </fa-surface>
      </fa-modifier>
       <fa-modifier>
            <fa-surface fa-background-color="'#DAF4F1'">
                <img class="centered" src="img/sad.svg"/>
           </fa-surface>
      </fa-modifier>
       
	</fa-grid-layout>
      

  </fa-header-footer-layout>

</fa-app>